<a href="https://colab.research.google.com/github/Gau-6426/NHAPMONPHANTICHDULIEUHOCSAU/blob/main/lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sys
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Truy cập vào trang web và lấy dữ liệu in ra kết quả 
def load_data(filename):
  return pd.read_csv('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/covid19/'+filename)
dfcovid19 = load_data('countriessample.csv')
dfcovid19.head()

Example 1:

In [ ]:
%matplotlib inline
%config InlineBackend.figure_format = 'svg'
sns.heatmap(dfcovid19.isna(), yticklabels=False, cbar=True, cmap='viridis')
# lỗi web 400 nên chạy sẽ báo lỗi

Example 2: Thêm một chức năng cho mỗi cột khung dữ liệu dataframe.

In [5]:
import pandas as pd

# Tạo một khung dataframe
df = pd.DataFrame({
    'History': [76, 84, 68, 94],
    'Math': [81, 67, 91, 86],
    'English': [72, 93, 84, 76]
}, index=['Sam', 'Greta', 'Mike', 'Emma'])

# In ra dữ liệu từ khung dataframe
print("Dữ liệu nguyên bản của dataframe:\n")
print(df)

# Chức năng đã được thêm vào 
def get_mean(scores):
    return sum(scores)/len(scores)

# Thêm điểm trung bình cho mỗi hs,sv 
result = df.apply(get_mean, axis=1)
print("\nKết quả áp dụng hàm trên từ dataframe:\n")
print(result)

Dữ liệu nguyên bản của dataframe:

       History  Math  English
Sam         76    81       72
Greta       84    67       93
Mike        68    91       84
Emma        94    86       76

Kết quả áp dụng hàm trên từ dataframe:

Sam      76.333333
Greta    81.333333
Mike     81.000000
Emma     85.333333
dtype: float64

Example 3: Thêm một chức năng cho từng hàng(axis=1) của khung dữ liệu.

In [4]:
import pandas as pd

# Tạo một khung dataframe
df = pd.DataFrame({
    'History': [76, 84, 68, 94],
    'Math': [81, 67, 91, 86],
    'English': [72, 93, 84, 76]
}, index=['Sam', 'Greta', 'Mike', 'Emma'])

# In ra dữ liệu từ khung dataframe
print("Dữ liệu nguyên bản của dataframe:\n")
print(df)

# Chức năng đã được thêm vào 
def get_mean(scores):
    return sum(scores)/len(scores)

# Thêm điểm trung bình cho mỗi hs,sv 
result = df.apply(get_mean, axis=1)
print("\nKết quả áp dụng hàm trên từ dataframe:\n")
print(result)

Dữ liệu nguyên bản của dataframe:

       History  Math  English
Sam         76    81       72
Greta       84    67       93
Mike        68    91       84
Emma        94    86       76

Kết quả áp dụng hàm trên từ dataframe:

Sam      76.333333
Greta    81.333333
Mike     81.000000
Emma     85.333333
dtype: float64

Example 4: Xác định chức năng chia thành quốc gia và khu vực.

In [7]:
#Tạo hàm in ra tên quốc già và khu vực
def split_name_series(string): 
  country, region=string.split(';') # tên trong country, region sẽ được tách ra thành một list
  return pd.Series(
      (country, region),
      index='country, region'.split()
  )

In [9]:
def split_name(x_df):
    # Lựa chọn tên vào cột và thêm một chức năng.
    res=x_df['CountryRegion'].apply(split_name_series) # thêm hàm split_name_series vào x_df
    x_df[res.columns]=res # Thêm res vào cột trong x_df
    return x_df

Example5: Tách quốc gia và khu vực bằng hàm split_name_series ( ví dụ 4 )

In [10]:
res=load_data('countriessample.csv').pipe(split_name)
res

         Date         CountryRegion  ...   country,         region
0   1/22/2020          Ghana;Africa  ...      Ghana         Africa
1   1/22/2020         Greece;Europe  ...     Greece         Europe
2   1/22/2020        Iceland;Europe  ...    Iceland         Europe
3   1/22/2020            India;Asia  ...      India           Asia
4   1/22/2020        Indonesia;Asia  ...  Indonesia           Asia
5   1/22/2020             Iran;Asia  ...       Iran           Asia
6   1/22/2020             Iraq;Asia  ...       Iraq           Asia
7   1/22/2020        Ireland;Europe  ...    Ireland         Europe
8    6/6/2020         Guinea;Africa  ...     Guinea         Africa
9    6/6/2020  Guyana;South America  ...     Guyana  South America
10   6/6/2020   Haiti;North America  ...      Haiti  North America
11   6/6/2020      Holy See;Unknown  ...   Holy See        Unknown
12   6/6/2020        Indonesia;Asia  ...  Indonesia           Asia
13   6/6/2020             Iran;Asia  ...       Iran           Asia
14   6/6/2020             Iraq;Asia  ...       Iraq           Asia
15   6/6/2020        Ireland;Europe  ...    Ireland         Europe
16   6/6/2020           Israel;Asia  ...     Israel           Asia
17   6/6/2020          Italy;Europe  ...      Italy         Europe

[18 rows x 7 columns]

Example 6:

In [12]:
def substitute_region(x_df):
    mapping={'Africa':'AF', 'Asia':'AS','Europe':'EU','South America':'SA','North America':'NA'}
    x_df['region']=x_df['region'].map(mapping)
    return x_df

In [13]:
res=(res.pipe(substitute_region))
res

         Date         CountryRegion  Confirmed  ...   Deaths   country, region
0   1/22/2020          Ghana;Africa        NaN  ...      0.0      Ghana     AF
1   1/22/2020         Greece;Europe        NaN  ...      0.0     Greece     EU
2   1/22/2020        Iceland;Europe        0.0  ...      0.0    Iceland     EU
3   1/22/2020            India;Asia        0.0  ...      0.0      India     AS
4   1/22/2020        Indonesia;Asia        0.0  ...      0.0  Indonesia     AS
5   1/22/2020             Iran;Asia        0.0  ...      0.0       Iran     AS
6   1/22/2020             Iraq;Asia        0.0  ...      NaN       Iraq     AS
7   1/22/2020        Ireland;Europe        0.0  ...      NaN    Ireland     EU
8    6/6/2020         Guinea;Africa     4117.0  ...     23.0     Guinea     AF
9    6/6/2020  Guyana;South America      154.0  ...     12.0     Guyana     SA
10   6/6/2020   Haiti;North America     3072.0  ...     50.0      Haiti     NA
11   6/6/2020      Holy See;Unknown       12.0  ...      0.0   Holy See    NaN
12   6/6/2020        Indonesia;Asia    30514.0  ...   1801.0  Indonesia     AS
13   6/6/2020             Iran;Asia   169425.0  ...   8209.0       Iran     AS
14   6/6/2020             Iraq;Asia    11098.0  ...    318.0       Iraq     AS
15   6/6/2020        Ireland;Europe    25183.0  ...   1678.0    Ireland     EU
16   6/6/2020           Israel;Asia    17752.0  ...    295.0     Israel     AS
17   6/6/2020          Italy;Europe   234801.0  ...  33846.0      Italy     EU

[18 rows x 7 columns]

Example 7: chia nhỏ thành ba có kích thước bằng nhau

In [15]:
import pandas as pd
import numpy as np
a = pd.cut(np.array([1, 7, 5, 4, 6, 3]), 3)

In [16]:
a

[(0.994, 3.0], (5.0, 7.0], (3.0, 5.0], (3.0, 5.0], (5.0, 7.0], (0.994, 3.0]]
Categories (3, interval[float64]): [(0.994, 3.0] < (3.0, 5.0] < (5.0, 7.0]]

Example 8: Khám phá những phần giống nhau, dán nhãn cụ thể cho chúng.Lưu ý rằng các danh mục của Categorical được trả lại là nhãn và được sắp xếp theo thứ tự

In [17]:
import pandas as pd
import numpy as np
pd.cut(np.array([1, 7, 5, 4, 6, 3]),bins = 3, labels=["bad", "medium", "good"])

['bad', 'good', 'medium', 'medium', 'good', 'bad']
Categories (3, object): ['bad' < 'medium' < 'good']

Example9: Order = false sẽ dẫn đến các danh mục không có thứ tự khi các nhãn được chuyển qua. Tham số này có thể được sử dụng để cho phéo các nhãn không phải là duy nhất.

In [18]:
import pandas as pd
import numpy as np
pd.cut(np.array([1, 7, 5, 4, 6, 3]), 3,labels=["B", "A", "B"], ordered=False)

['B', 'B', 'A', 'A', 'B', 'B']
Categories (2, object): ['A', 'B']

Example10: Chuyển đổi các trường hợp đã xác nhận thành 3 catorories: normal (<3000), medium ( <5000), and worst (>5000)

In [28]:
def create_evaluation_group(x_df):
    bins=[0.0, 3000, 5000, sys.maxsize]
    labels=['normal', 'medium', 'worst']
    evaluationGroup=pd.cut(x_df['Confirmed'], bins=bins, labels=labels,include_lowest=True)
    x_df['Evaluation']=evaluationGroup
    return x_df

In [ ]:
res=(res.pipe(create_evaluation_group))
res